<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Avondale College Co-Curricular</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark text-white border-bottom box-shadow mb-3">
            <div class="container">
                <a href="/">
                    <img src="~/images/Logo.png" style="height:60px; width:auto"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-right d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Groups
                            </a>
                            <div class="dropdown-menu box-shadow mb-3" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/Clubs/Index">Clubs</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Music/Index">Music</a>
                                <a class="dropdown-item" asp-area="" asp-page="/PerformingArts/Index">Performing Arts</a>
                                <a class="dropdown-item" asp-area="" asp-page="/ScholarshipTutorials/Index">Scholarship Tutorials</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Sports/Index">Sports</a>
                                <a class="dropdown-item" asp-area="" asp-page="/SubjectTutorials/Index">Subject Tutorials</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Activities/Index">Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Staff/Index">Staff</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/PersonalInformation/Index">Personal Information</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white bg-dark height: 60px">
        <div class="container">
            &copy; to the rightful owner: <a href="https://static.wixstatic.com/media/eb7000_a43740ac6db34e40b8ffe1ffd70c8957~mv2.jpg">Background</a> & <a href="https://static.wixstatic.com/media/6dc53a_f7bd1584f0b04481b85c97cad92030ed~mv2.png">Logo (original)</a> | <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>