@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>This Avondale College Co-Curricular Website is for the sole purpose of the developer's NCEA work.</p>
<p>Personal Information will be stored in this database for the convenience of the school administrators in regards to the co-curricular teaching schedule and contact information.</p>