@page
@model AvcolCoCurricularWebsite.Pages.Sports.CreateModel

@{
    ViewData["Title"] = "Create | Sport";
}

<h1>Create</h1>
<h4>Sport</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sport.ActivityID" class="control-label"></label>
                <select asp-for="Sport.ActivityID" class ="form-control" asp-items="ViewBag.ActivityID">
                    <option value="">-- Select Activity --</option>
                </select>
                <span class="text-danger">@Model.ActivityErrorMessage</span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.Day" class="control-label"></label>
                <select asp-for="Sport.Day" class="form-control" name="Sport.Day">
                <option value="">-- Select Day --</option>
                    <option value=1>Monday</option>
                    <option value=2>Tuesday</option>
                    <option value=3>Wednesday</option>
                    <option value=4>Thursday</option>
                    <option value=5>Friday</option>
                </select>
                <span asp-validation-for="Sport.Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.StartTime" class="control-label"></label>
                <input asp-for="Sport.StartTime" class="form-control" />
                <span asp-validation-for="Sport.StartTime" class="text-danger"></span>
                <span class="text-danger">@Model.StartTimeErrorMessage</span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.EndTime" class="control-label"></label>
                <input asp-for="Sport.EndTime" class="form-control" />
                <span asp-validation-for="Sport.EndTime" class="text-danger"></span>
                <span class="text-danger">@Model.EndTimeErrorMessage</span>
            </div>
            <span class="text-danger"><p>@Model.RoomStaffOccupiedErrorMessage</p></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}