@page
@model AvcolCoCurricularWebsite.Pages.Sports.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sport.SportID" />
            <div class="form-group">
                <label asp-for="Sport.ActivityID" class="control-label"></label>
                <select asp-for="Sport.ActivityID" class="form-control" asp-items="ViewBag.ActivityID"></select>
                <span asp-validation-for="Sport.ActivityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.RoomNumber" class="control-label"></label>
                <input asp-for="Sport.RoomNumber" class="form-control" />
                <span asp-validation-for="Sport.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.Day" class="control-label"></label>
                <select asp-for="Sport.Day" class="form-control"></select>
                <span asp-validation-for="Sport.Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.StartTime" class="control-label"></label>
                <input asp-for="Sport.StartTime" class="form-control" />
                <span asp-validation-for="Sport.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sport.EndTime" class="control-label"></label>
                <input asp-for="Sport.EndTime" class="form-control" />
                <span asp-validation-for="Sport.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
